body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: $white;
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    // padding: 20px;
    margin: 0 auto;
    background-image: linear-gradient(45deg, $warmcolor, $violet);
}
main, header, footer{
    padding: 20px;
}
@media(min-width: 320px){
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
   margin: 0 auto; 
}
@media(min-width: 550px){
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
   margin: 0 auto; 
}
@media(min-width: 768px){
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
   margin: 0 auto; 
}
@media(min-width: 1024px){
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
   margin: 0 auto; 
}
@media(max-width: 1440px){
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
   margin: 0 auto; 
}
a{
    text-decoration: none;
}
button{
    @include button;
}
// form{
//     display: none;
// }
