$blue: #1A3F5A;
$black: #040717;
$lightBlue: #135ACE;
$red: #F6485A;
$warmcolor: #f74958; 
$mint: #17A4C2;
$light: #68DBFD;
$white: #F4F5F7;
$green: #518C76;
$gray:#A5AEBE;
$darkblue: #4167C4;
$violet: #1E147E;
$pink: #FD687A;
$yellow:#FDEB68;